<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billing Software</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- navigation bar -->
    <header class="header-top">
        <div >
            <h1>Web Potli</h1>
        </div>
        <div class="navbar-top-right">
            <a href="#"><img src="../images/touch-finger.png" alt="" class="border-right"></a>
            <a href="#"><img src="../images/calculator.png" alt="" class="border-right"></a>
            <a href="#"><img src="../images/notification.png" alt="" class="border-right"></a>
            <a href="#"><img src="../images/money.jpg" alt="" class="border-right"></a>
            <a href="#"><img src="../images/setting.png" alt="" class="border-right"></a>
            <a href="#" class="navbar-help">? Help</a>
            <a href="#"><img src="../images/logout.png" alt=""></a>
        </div>
    </header>

    <!-- //Main container  -->
    <div class="main-container">
        <div class="container-left-side">
            <ul class="container-left-ul">
                <h2>Version 1.0.0</h2>
                <li><a href="#">Sale</a>
                <ul class="sale-list">
                    <li><a href="#">ddddddd</a></li>
                    <li><a href="#">ddddddd</a></li>
                    <li><a href="#">ddddddd</a></li>
                    <li><a href="#">ddddddd</a></li>
                    <li><a href="#">ddddddd</a></li>
                </ul>
                
                </li>
                <li><a href="#">Purchase</a></li>
                <li><a href="#">Banking</a></li>
                <li><a href="#">Expense</a></li>
                <li><a href="#">Client</a></li>
                <li><a href="#">Staff</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">GSTR</a></li>
                <li><a href="#">Master</a></li>
                <li><a href="#">Tools</a></li>
                <li><a href="#">Setting</a></li>
            </ul>
        </div>
        <div class="container-right-side">
            <div class="page1">
                <h1>Page 11wewewe</h1>
            </div>
            <div class="page2">
                <h1>page 2</h1>
            </div>
        </div>

    </div>
    
</body>
</html>