*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-top{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    align-items: center;
    padding: 15px 0 10px 0; 
    box-shadow: 0px 0px 5px 2px gray;
}
.header-top h1{
    padding-left: 30px;
    font-size: 2.3rem;
}
.header-top img{
    width: 30px;
    height: 30px;
    padding: 0 3px;
}
.navbar-top-right{
    position: absolute;
    right: 5px;
}
.navbar-top-right a{
    padding: 0 5px;
}
.border-right{
    border-right: 1.8px solid gray;

}
.navbar-help{
    /* border: 2px solid red; */
    position: relative;
    display: inline-block;
    height: 28px;
    width: 60px;
    top: -12px;
    font-size: 18px;
    background-color: greenyellow;
}

/* // main- container  */

.main-container{
    display: flex;
}
.container-left-ul{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 91.4vh;
    /* display: block; */
    background-color: rgb(62, 41, 253);
}
.container-left-ul li{
    list-style: none;
}
.container-left-ul li>a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 5px 10px 5px 15px;
    display: block; 
}
.container-left-ul li>a:hover{
    color: wheat;
    background-color: black;
    
}
.container-left-ul h3{
    text-align: center;
    color: black;
    background-color: rgb(180, 180, 180);
}

/* /// sale list  */

.container-left-ul .sale-list{
    display: none;
}
.container-left-ul li:hover > .sale-list{
    display: block;
    position: absolute;
    left: 230px;
    top: 89px;
    color: red;
    background-color: green;
    box-shadow:  1px 1px 6px 1px black;
}

/* // Purchase - list  */
.container-left-ul .purchase-list{
    display: none;
}
.container-left-ul li:hover>.purchase-list{
    display: block;
    position: absolute;
    left: 230px;
    top: 121px;
    background-color: green;
    box-shadow:  1px 1px 6px 1px black;

}
/* // expense-lisst  */
.expense-list{
    display: none;
}
.container-left-ul li:hover > .expense-list{
    display: block;
    position: absolute;
    left: 230px;
    top: 184px;
    background-color: green;
    box-shadow:  1px 1px 6px 1px black;
}

/* // .client-list */
.client-list{
    display: none;
}
.container-left-ul li:hover> .client-list{
    display: block;
    position: absolute;
    left: 230px;
    top: 215px;
    background-color: green;
    box-shadow:  1px 1px 6px 1px black;
}
/* // staff-list  */
.staff-list{
    display: none;
}
.container-left-ul li:hover> .staff-list{
    display: block;
    position: absolute;
    left: 230px;
    top: 247px;
    background-color: green;
    box-shadow:  1px 1px 6px 1px black;
}

/* // report-list  */
.report-list{
    display: none;
}
.container-left-ul li:hover > .report-list{
    display: block;
    position: absolute;
    left: 230px;
    top: 278px;
    background-color: green;
    box-shadow:  1px 1px 6px 1px black;
    /* width: 180px; */
}
.nexticon{
    width: 18px;
    border-radius: 14px;
    position: absolute;
    right: 8px;
    margin-top: 3px;
}

/* // Account-list */
.account-list{
    display: none;
}
.report-list li:hover> .account-list{
    display: block;
    position: absolute;
    left: 215.5px;
    top: 0;
    width: 225px;
    background-color: rgb(67, 129, 67);
    box-shadow:  1px 1px 6px 1px black;
}

/* // Inventory-list // */
.report-list .inventory{
    display: none;
}
.report-list li:hover> .inventory{
    display: block;
    position: absolute;
    left: 215.5px;
    top: 31.5px;
    background-color: rgb(67, 129, 67);
    box-shadow:  1px 1px 6px 1px black;
    width: 225px;
}
/* // Sales-list */
#sales-list{
    display: none;
}
.report-list li:hover > #sales-list{
    display: block;
    position: absolute;
    left: 215.5px;
    top: 63.5px;
    background-color: rgb(67, 129, 67);
    box-shadow:  1px 1px 6px 1px black;
    width: 225px;
}

/* // Clients list  */
#clients-list{
    display: none;
}
.report-list li:hover > #clients-list{
    display: block;
    position: absolute;
    left: 215.5px;
    top: 95px;
    background-color: rgb(67, 129, 67);
    box-shadow:  1px 1px 6px 1px black;
    width: 225px;
}

/* /// purchases-list  */

/* .sub-purchases{
    display: none;
} */
/* .report-list li:hover> .tt{
    display: block;
    position: absolute;
    left: 215.5px;
    top: 95px;
    background-color: rgb(67, 129, 67);
    box-shadow:  1px 1px 6px 1px black;
    width: 225px;
} */